@{
    ViewBag.Title = "About";
}
<br />  
<h2>About Clipz</h2>



<p>Clipz is a web based MVC that was built by <a href="https://www.linkedin.com/in/william-casteel-12535b126/">William Casteel</a>. This is designed to allow users to create
    "lawns" to have work done to them. For each lawn you have to currently create your own "location", this feature for a shipped version would be replaced by integrating
    a google maps API. The users could also sign up as "mowers" to do yard work and be Paid. The "Yardwork" is also created by anyone who owns a lawn, and also connected to the said lawn. Designed for
             Commercial and private use. </p>
