@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="        background: url('/Assets/clipz pic.jpg');">
    <h1 >Clipz</h1>
    <p class="lead">To get started with Clipz all you need to do is make an account.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <br />  <br /><br />    <br />  <br />  <br />  
</div>

<div class="row">
    <div  class="col-md-4">
        <h2>Wanna mow?</h2>
        <p>
            Log in and join us and we will connect you to our extensive list of customers wanting to get their lawn mowed.
        </p>
        <a class="btn btn-primary btn-sm" href="@Url.Action("Register", "Account")">Create Account</a>
    </div>
    <div class="col-md-4">
        <h2>See available lawns</h2>
        <p>Come join us to see if there are lawns near you that are waiting to be mowed.</p><br />  
        <p><a class="btn btn-primary btn-sm" href="@Url.Action("Index", "Location")">View Locations </a></p>
    </div>
    <div class="col-md-4">
        <h2>Need Your lawn mowed?</h2>
        <p>Go ahead and join us to put your lawn out there to me mowed.</p>
        <p><a class="btn btn-primary btn-sm" href="@Url.Action("Create", "LawnOwner")">Create Lawn</a></p>
    </div>
</div>